@model MoviesLibrary.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imdbscore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imdbscore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Metascore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Metascore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poster)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genres)
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>Genres</th>
                </tr>
                <tr>
                    @foreach (var item in Model.Genres)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.GenreName),
                        </td>
                    }
                </tr>
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
